<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>
        <property name="show_sql">true</property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://db4free.net:3306/planet</property>
        <property name="hibernate.connection.username">planet</property>
        <property name="hibernate.connection.password">planet234</property>
        <property name ="hibernate.show_sql" >true</property>
        <!-- Mapping files will go here.... -->
        <mapping class="planet.entity.User" />
        <mapping class="planet.entity.Order" />
        <mapping class="planet.entity.Product" />
        <mapping class="planet.entity.UserRole" />
        <mapping class="planet.entity.Hist" />
        <mapping class="planet.entity.ProductCategory"/>
        <mapping class="planet.entity.FinReport"/>

    </session-factory>
</hibernate-configuration>
