@import url(reset.css);

body {
	font: 12px Arial, Verdana, Tahoma, sans-serif;
}
								/*Header*/
.header {	
	height: 100px;
}

.logo {
	width: 178px;
	height: 54px;
	margin: 23px 0 0 20px;
	float: left;
}

.buttonMenu {
	float:right;
	display: table-row;
	clear: right;
	margin-right: 200px;
}

.buttonMenu li {
	float: left;
	margin-left: 30px;
}
.buttonBasket{
	position: relative;
	right: 350px;
	display: table-row;
}


								/*Log In form*/

.login {
	width:320px;
	float: right;
	margin: 5px 20px 0 0;
}

.field {
	text-align: right;
	line-height: 25px;
	margin-bottom: 5px;
}

.customfield {
	text-align: left;
	line-height: 25px;
	margin-bottom: 5px;
}

label {
	float: left;
	padding-right: 3px;
}

.loginform {
	float: left;
	margin-right: 5px;
}

.login a {
	text-decoration: none;
	border-bottom: 1px dashed #0270A3;
	color: #0270A3;
	margin-bottom: 5px;
}

.login span {
	margin-left: 5px;
}

.login a:hover {
	color: red;
}

.hidden-login {
	display: none;
}

#login-form {
	padding: 40px 20px  15px  20px;
	background-color: #fff;
	border: 2px solid #0f84cb;
	border-radius: 10px;
	max-width: 225px;
	margin: auto;
	position: relative;
}

#login-form span, #passrec-form span {
	font-weight: bold;
}

#login-form input, #reg-form input, #passrec-form input {
	padding: 5px 5px;
	margin: 5px 0 10px 0;
	border: 1px solid #0f84cb;
	border-radius: 5px;
	width: 224px;
}

#login-form a {
	color: #000;
	text-decoration: none;
}

#login-form a:hover {
	color: #0f84cb;
	text-decoration: underline;
	font-weight: bold;
}

#login-form #login-btn {
	width: 70px;
	margin: 10px 0 0 77px;
}
								/*Password recovery form*/
.hidden-passrecovery {
	display: none;
}

#passrec-form {
	padding: 40px 20px  15px  20px;
	background-color: #fff;
	border: 2px solid #0f84cb;
	border-radius: 10px;
	max-width: 225px;
	margin: auto;
	position: relative;
}

#passrec-form #passrec-btn {
	width: 80px;
	margin: 10px 0 0 72px;
}

#passrec-form p {
	font-size: 0.8em;
}
								/*Registration form*/

.registration {
	width: 225px;
	height: 350px;
	border-radius: 5px;
	margin: 50px auto;
	padding: 20px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.registration p {
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
}

.registration #reg-form #reg-checkbox {
	width: 13px;
	height: 13px;
}

.registration #reg-btn {
	width: 150px;
	height: auto;
/* 	margin: 15px 0 0 37px; */
}

#reg-form div{
	text-align: center
}
#reg_error{
	height: 40px;
	color: red;
}

.log-reg-buttons {
	height: 25px;
	border: 1px solid #0d679d;
	border-radius: 5px;
	color: #ffffff;
	background-color: #0f84cb;
	margin: 5px;
}

.log-reg-buttons:hover {
	color: #fffc00;
	cursor: pointer;
}
									/*Language switcher*/
.lang-switcher {
	height: 40px;
	width: 130px;
	position: relative;
}

.lang-switcher #resultpic {
	float: left;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	position: absolute;
	top: 8px;
	left: 7px;
}

.lang-switcher select {
	height: 28px;
	margin: 6px 0 0 6px;
	width: 85px;
	border-radius: 5px 0 0 5px;
	padding-left: 30px;
	background: #026B9D;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	color: white;
	border: 1px solid black;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
}

#lang-switch-btn {
	height: 28px;
	background: #026B9D;
	border-radius: 0 5px 5px 0;
	border: 1px solid black;
	border-left: none;
	color: white;
	margin-left: -3px;
	cursor: pointer;
}
									/*Goods box*/
.good-box {
	width: 200px;
	height: 270px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 10px 0 0 20px;
	float: left;
}

.good-box a {
	text-decoration: none;
	color: #000;
}

.good-box a:hover {
	text-decoration: underline;
	color: #0f84cb;
}

.good-box p {
	font-weight: bold;
}

.good-box img {
	margin: 10px auto;
}